config/fish/completions/kubectl.fish
config/fish/completions/fisher.fish
config/fish/functions/__z.fish
config/fish/functions/__z_add.fish
config/fish/functions/__z_clean.fish
config/fish/functions/__z_complete.fish
config/fish/functions/fisher.fish
config/fish/completions/helm.fish
