darwin/fish/completions/kubectl.fish
darwin/fish/completions/fisher.fish
darwin/fish/functions/__z.fish
darwin/fish/functions/__z_add.fish
darwin/fish/functions/__z_clean.fish
darwin/fish/functions/__z_complete.fish
darwin/fish/functions/fisher.fish
