!     _  __                                               
!    | |/ /________  _________  __  _______________  _____
!    |   // ___/ _ \/ ___/ __ \/ / / / ___/ ___/ _ \/ ___/
! _ /   |/ /  /  __(__  ) /_/ / /_/ / /  / /__/  __(__  ) 
!(_)_/|_/_/   \___/____/\____/\__,_/_/   \___/\___/____/ 
!

#define base00 #1b2b34
#define base01 #343d46
#define base02 #4f5b66
#define base03 #65737e
#define base04 #a7adba
#define base05 #c0c5ce
#define base06 #cdd3de
#define base07 #d8dee9
#define base08 #ec5f67
#define base09 #f99157
#define base0A #fac863
#define base0B #99c794
#define base0C #5fb3b3
#define base0D #6699cc
#define base0E #c594c5
#define base0F #ab7967

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
! Urxvt config 
!---------------------
URxvt.font: xft:SF Mono:Semibold:size=13
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.internalBorder: 30
URxvt.perl-ext: default,matcher
URxvt.letterSpace: -1
URxvt.matcher.button: 1
URxvt.boldFont:
URxvt.url-launcher: /usr/bin/firefox
URxvt.visualBell: false
URxvt.depth: 20
URxvt.lineSpace: 1
URxvt.geometry: 65x19
URxvt.intensityStyles: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window:  base00, base00, base00
rofi.color-normal:  base00, base05, base00, base05, base00
rofi.color-active:  base07, base09, #000, #000, #000
rofi.color-urgent:  #e12a36, #dd2a4b, #1b2b34
rofi.font: SF Mono SemiBold 13
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.location:0
rofi.lines: 6
rofi.width: 350
rofi.yoffset: 26
rofi.padding: 32

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
