!     _  __                                               
!    | |/ /________  _________  __  _______________  _____
!    |   // ___/ _ \/ ___/ __ \/ / / / ___/ ___/ _ \/ ___/
! _ /   |/ /  /  __(__  ) /_/ / /_/ / /  / /__/  __(__  ) 
!(_)_/|_/_/   \___/____/\____/\__,_/_/   \___/\___/____/  
!                                                         

! special
*.foreground:   #98d1ce
*.background:   #0a0f14
*.cursorColor:  #98d1ce

! black
*.color0:       #0a0f14
*.color8:       #10151b

! red
*.color1:       #c33027
*.color9:       #d26939

! green
*.color2:       #26a98b
*.color10:      #081f2d

! yellow
*.color3:       #edb54b
*.color11:      #245361

! blue
*.color4:       #195465
*.color12:      #093748

! magenta
*.color5:       #4e5165
*.color13:      #888ba5

! cyan
*.color6:       #33859d
*.color14:      #599caa

! white
*.color7:       #98d1ce
*.color15:      #d3ebe9

! Urxvt config 
!---------------------
URxvt.font: xft:Monoid:size=10
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.internalBorder: 30
URxvt.perl-ext: default,matcher
URxvt.letterSpace: -1
URxvt.matcher.button: 1
URxvt.boldFont:
URxvt.url-launcher: /usr/bin/firefox
URxvt.visualBell: false
URxvt.depth: 20
URxvt.lineSpace: 1
URxvt.geometry: 65x19
URxvt.intensityStyles: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window:  #060a0c, #060a0c, #060a0c
rofi.color-normal:  #060a0c, #c5d7e3, #060a0c, #58849c, #c5d7e3
rofi.color-active:  #000, #000, #000, #000, #000
rofi.color-urgent:  #e12a36, #dd2a4b, #1b2b34
rofi.font: mononoki 12
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.location:0
rofi.lines: 6
rofi.width: 350
rofi.yoffset: 26
rofi.padding: 32

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
