[user]
       name = Anirudh Oppiliappan
       email = x@icyphox.sh
       signingkey = 8A93F96F78C5D4C4
[commit]
	   gpgsign = true
       verbose = true
[gpg]
       program = gpg2
[credential]
	helper = store

[sendemail]
    smtpserver = m.icyphox.sh
    smtpuser = x@icyphox.sh
    smtpencryption = tls
    smtpserverport = 587
