[user]
    name = Anirudh Oppiliappan
    email = x@icyphox.sh
    signingkey = 8A93F96F78C5D4C4
[commit]
    gpgsign = true
    verbose = true
[gpg]
    program = gpg
[credential]
    helper = store

[sendemail]
    smtpserver = smtp.migadu.com
    smtpuser = x@icyphox.sh
    smtpencryption = ssl
    smtpserverport = 465

[init]
    defaultBranch = master
[diff]
	tool = vimdiff3
[difftool "vimdiff3"]
	path = nvim
    prompt = false
[merge]
	tool = vimdiff3
[mergetool "vimdiff3"]
	path = nvim
    prompt = false
[bash]
	showDirtyState = true
	showUntrackedFiles = false
[pull]
	rebase = true
