
!     _  __                                               
!    | |/ /________  _________  __  _______________  _____
!    |   // ___/ _ \/ ___/ __ \/ / / / ___/ ___/ _ \/ ___/
! _ /   |/ /  /  __(__  ) /_/ / /_/ / /  / /__/  __(__  ) 
!(_)_/|_/_/   \___/____/\____/\__,_/_/   \___/\___/____/ 
!

#include ".colors/light"


*.font: SF Mono:style=Regular:size=12:antialias=true
*.italicFont: SF Mono:style=Italic:size=12:antialias=true
*.boldFont: SF Mono:style=Bold:size=12:antialias=true

! xnotify
xnotify.gap: 5
xnotify.gravity: NE
xnotify.title.font: SF Mono:style=Bold:size=12:antialias=true
xnotify.wrap: true

! xprompt
xprompt.font: SF Mono:style=Regular:size=12:antialias=true
xprompt.gravity: C
xprompt.borderWidth: 0
xprompt.geometry: 1200x50
