
!     _  __                                               
!    | |/ /________  _________  __  _______________  _____
!    |   // ___/ _ \/ ___/ __ \/ / / / ___/ ___/ _ \/ ___/
! _ /   |/ /  /  __(__  ) /_/ / /_/ / /  / /__/  __(__  ) 
!(_)_/|_/_/   \___/____/\____/\__,_/_/   \___/\___/____/ 
!

#include ".colors/light"


*.font: SF Mono:style=Regular:size=12:antialias=true
*.italicFont: SF Mono:style=Italic:size=12:antialias=true
*.boldFont: SF Mono:style=Bold:size=12:antialias=true
*.borderpx: 30

! xnotify
xnotify.gap: 5
xnotify.gravity: NE
xnotify.title.font: SF Mono:style=Bold:size=12:antialias=true
xnotify.wrap: true

! xprompt
xprompt.font: SF Mono:style=Regular:size=12:antialias=true
xprompt.gravity: C
xprompt.borderWidth: 1
xprompt.geometry: 400x50

! xterm
xterm*faceName: SF Mono
xterm*faceSize: 12
xterm*scrollBar: false
xterm*internalBorder: 32
xterm.vt100.locale: false
xterm.vt100.utf8: true
xterm.vt100.metaSendsEscape: true
xterm.vt100.allowMouseOps: true
xterm.termName: xterm-256color
xterm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
