
!     _  __                                               
!    | |/ /________  _________  __  _______________  _____
!    |   // ___/ _ \/ ___/ __ \/ / / / ___/ ___/ _ \/ ___/
! _ /   |/ /  /  __(__  ) /_/ / /_/ / /  / /__/  __(__  ) 
!(_)_/|_/_/   \___/____/\____/\__,_/_/   \___/\___/____/ 
!

#define base00 #fafafa
#define base01 #dedede
#define base02 #cccccc
#define base03 #aaaaaa
#define base04 #8a8a8a
#define base05 #676767
#define base06 #454545
#define base07 #232323
#define base08 #db7070
#define base09 #db7070
#define base0A #d69822
#define base0B #7c9f4b
#define base0C #509c93
#define base0D #6587bf
#define base0E #b870ce
#define base0F #509c93

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

! Urxvt config 
URxvt.font: xft:SF Mono:style=Regular:size=14:antialias=true,xft:Noto Sans:size=14:style=Medium:antialias=true 
URxvt.scrollBar: false
URxvt.cursorBlink: false
URxvt.internalBorder: 30
URxvt.perl-ext: default,matcher
URxvt.letterSpace: -1
URxvt.matcher.button: 1
URxvt.boldFont: xft:SF Mono:size=14:style=Bold:antialias=true
URxvt.italicFont: xft:SF Mono:size=14:style=Italic:antialias=true
URxvt.url-launcher: /usr/local/bin/iridium
URxvt.visualBell: false
URxvt.depth: 20
URxvt.lineSpace: 1
URxvt.geometry: 80x20 
URxvt.intensityStyles: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.locale: utf8

! Xclock config
XClock.analog: false
XClock.twentyfour: false
XClock.render: true
XClock.face: SF Mono:style=Regular:size=14:antialias=true
XClock.strftime: "%a, %d %b %I:%M"
