#
# Colour scheme
#
gtk-color-scheme = "base_color:#FFFFFF\nbg_color:#FFFFFF"
gtk-color-scheme = "text_color:#B5B5B5\nfg_color:#263238"
gtk-color-scheme = "selected_bg_color:#D4D7D8\nselected_fg_color:#FFFFFF"
gtk-color-scheme = "tooltip_bg_color:#2A373E\ntooltip_fg_color:#ECEFF1"


#
# Default Colours
#
style "default" {
  text[NORMAL] = mix(0.75, @text_color, @base_color)
  text[PRELIGHT] = @text_color
  text[ACTIVE] = mix(0.75, @fg_color, @bg_color)
  text[INSENSITIVE] = mix(0.4, @text_color, @base_color)
  text[SELECTED] = mix(0.75, @fg_color, @bg_color)

  base[NORMAL] = @bg_color
  base[PRELIGHT] = mix(0.5, @base_color, @bg_color)
  base[ACTIVE] = @bg_color
  base[INSENSITIVE] = mix(0.5, @base_color, @bg_color)
  base[SELECTED] = @bg_color

  fg[NORMAL] = mix(0.75, @fg_color, @bg_color)
  fg[PRELIGHT] = @fg_color
  fg[ACTIVE] = @selected_bg_color
  fg[INSENSITIVE] = mix(0.4, @fg_color, @bg_color)
  fg[SELECTED] = @selected_fg_color

  bg[NORMAL] = @bg_color
  bg[PRELIGHT] = mix(0.1, @fg_color, @bg_color)
  bg[ACTIVE] = mix(0.2, @fg_color, @bg_color)
  bg[INSENSITIVE] = @bg_color
  bg[SELECTED] = @selected_bg_color
}
